// Denim Theme Color
$blue:      #003B60 !default;
$blue-dark: #012A4A !default;
$d-yellow:    #F0E615 !default;

//gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// denim theme-color-variables
$primary:       $blue;
$secondary:     $blue-dark;
$accent:     $d-yellow;

// FONT FAMILY 
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Charm', cursive;
$input-btn-font-family: 'IcoFont', 'Poppins';

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";