@use "../custom" as *;
@use "../abstracts/mixins" as *;


.about_area {
  padding-top: 90px;

  .about_top_text {
    margin-bottom: 55px;

    p {
      color: $primary;
      font-family: 'Li Ador Noirrit';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .about_left {
    position: relative;
    z-index: 3;

    img {
      width: 100%;
    }
  }

  .about_right {
    h3 {
      font-size: 44px;
      font-weight: 400;
      color: $primary;
      line-height: 1.5;

    }

    .desc_list_left {
      p {
        color: $primary;
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;

        img {
          margin-right: 12px;

        }
      }
    }

    .desc_list_right {
      p {
        color: $primary;
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;

        img {
          margin-right: 16px;

        }
      }
    }
  }
}