@use "../custom" as *;
@use "../abstracts/mixins" as *;


.products_area {
  background: #F0F9FF;
  padding: 80px 0px;

  .single_product {
    background: $white;
    text-align: center;
    border-radius: 86px 0px 86px 0px;

    img {
      padding: 28px 20px 0px 20px;
      width: 100%;
    }

    button {
      font-family: "Li Ador Noirrit";
      background: #003B60;
      padding: 18px 32px;
      border-radius: 48px 0px 48px 0px;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 28px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}