//ABSOLUTE CENTER
@use "../custom" as *;

@mixin dAbsoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//TRANSITION PROPERTY
@mixin dTransitionProperty {
  transition-duration: 1000ms;
  transition-property: all;
}

//BACKGROUND WITH OVERLEY
@mixin bg {
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 59, 96, 0.59);
    backdrop-filter: blur(5px);
    opacity: 0.65;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

@mixin bg-primary {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0E161F 0%, rgba(14, 22, 31, 0.00) 52.08%, rgba(14, 22, 31, 0.96) 100%);
    opacity: 0.65;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

@mixin bg-secondary {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(14, 28, 51, 0.75);
    backdrop-filter: blur(5px);
    opacity: 0.65;
    z-index: -1;
    left: 0;
    top: 0;
  }
}